.git/
.vscode/
glfw-3.3.5/
build/
OpenGL/
Engine/.vs/
Engine/x64/
Engine/Basic-Engine/x64/
# Only two files in the ext dir: glad.c and stb_image.cpp
Engine/Basic-Engine/src/ext/
Engine/Basic-Engine/Alix_1.1.vcxproj
Engine/Basic-Engine/Alix_1.1.vcxproj.filters
Engine/Basic-Engine/Alix_1.1.vcxproj.user

*.code-workspace

*.sln

w# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
